.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;

  font-weight: bold;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  
}

.messages{
  border-style: solid;
  border-radius: 10px;
  padding: 10px 30px;;
  margin: 10px;
}

.textMessage{
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.waveButton{
  font-family: 'Courier New';
  font-weight: bold;
}

.message{
}

.timestamp{
  font-size: 10px;
}

.from{
  font-size: 10px;
}